body {
	font-family: arial;
	padding: 10px;
	text-align: center;
	background-color: #FEFEFE;
	color: #0A1A08;
	font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
	}


nav {
	background-color: #d19b96;
	height: 60px;
}

nav > ul > li {
	display:inline-block;
}

 nav > ul > li > a> button {
	border-radius: 25%;
	height: 40px;
	width: 120px;
	background-color: #9F4550;
	color: #dac130;
	margin:10px;
 }
 
  nav > ul > li > a> button:hover {
	background-color: #401511;
	color: #f1e369;
	
 }
	
#footer {
	background-color: #d19b96;
	height: 60px;
	clear: both;
	}

	
.grid300 {
	float: left;
	width: 30%;
	margin: 1.5%;
}

.grid600 {
	float: left;
	width: 60%;
	margin: 1.5%;
}

.round {
	border-radius: 50%;
	overflow: hidden;
	width: 150px;
	height: 150px;
}

img.bordered {
	height:400px;
	border: 20px solid #e6dba3;
}

img#faded{
	opacity:0.3;
}

a {
	cursor:pointer;
	cursor:hand;
}
a:link {
	color: #43400C;
	}
a:visited{
	color: #43400C;
	}
a:hover{
	color: #0A1A08;

	}
a:active{
	color: #0A1A08;
	}
	
@media only screen and (max-device-width: 480px) {
  /* define mobile specific styles come here */
  
	nav {
		background-color: #d19b96;
		height: 20px;
	}

	nav > ul > li > a> button {
		border-radius: 25%;
		height: 10px;
		background-color: #9F4550;
		color: #dac130;
	 }
	 
	.round {
		border-radius: 50%;
		overflow: hidden;
		width: 50px;
		height: 50px;
	}
	img.bordered {
		width:200px;
		border: 2px solid #e6dba3;
	}
}